div#timeline {

}

div#timeline{
    position: relative;
}

div#timeline div#time-bar{
    position:relative;
    display: flex;
    align-items: center;

}

div#timeline div#time-bar hr{
    padding: 0 0;
    width: 21cm;
}

div#timeline div.timestamp{
    position:absolute;
    width:8px;
    height:8px;
    background-color:black;
}

div#timeline div#popup{
    display:none;
    position:absolute;
    z-index:500;
    width:300px;
    height:8em;
    line-height: 1.4em;
    padding: 7px;
    background-color:white;
    box-shadow:0 1px 3px 1px rgba(60,64,67,.15);
}

div#timeline a#toggle-timeline-details{
    display:inline-block;
    width:17em;
    position: absolute;
    left: 21.1cm;
}

div#timeline div#time-bar canvas{
    position:absolute;
    padding-top: 2px;
    display:none;
}

.timelineExpanded section#toolbar{height:12em;}
.timelineExpanded section#top-panel{padding-top:4.5em;}
.timelineExpanded section#toolbar div#toolbar-header{height:8em;}
.timelineExpanded section#toolbar div#timeline{height:5em;}
.timelineExpanded section#toolbar div#timeline hr{height:4em;}
.timelineExpanded div#timeline div#time-bar canvas{display:block}
.timelineExpanded div#timeline div#time-bar div.timestamp{
    margin-top:8px;
    top:4em;
}
