div#timeline {

}

div#timeline{
    position: relative;
}

div#timeline div#time-bar{
    position:relative;
    display: flex;
    align-items: center;

}

div#timeline div#time-bar hr{
    padding: 3px 0;
    width: 21cm;
}

div#timeline div.timestamp{
    position:absolute;
    width:8px;
    height:8px;
    background-color:blue;
}

div#timeline div#popup{
    display:none;
    position:absolute;
    z-index:500;
    width:300px;
    height:100px;
    line-height: 1.4em;
    padding: 7px;
    background-color:white;
    box-shadow:0 1px 3px 1px rgba(60,64,67,.15);
}

div#timeline a#toggle-timeline-details{
    display:inline-block;
    width:17em;
    position: absolute;
    left: 21.1cm;
}

div#timeline {

}
